/* item page */
.container {
  display: flex;
  margin: 5%;
  width: 100%;
  text-align: left;
}

.containerCol2 {
  text-align: left;
  display: inline-block;
  position: relative;
  text-align: left;
}

@media only screen and (min-width: 320px) {
  .containerCol1 {
    width: 100%;
    float: left;
  }
  .containerCol2 {
    float: left;
    width: 100%;
  }
  .container {
    content: "";
    display: table;
    clear: both;
  }

  .addToCartBtn {
    width: 50%;
  }
}

@media screen and (min-width: 768px) {
  .containerCol1 {
    width: 35%;
    float: left;
  }
  .containerCol2 {
    float: left;
    width: 61%;
    position: relative;
  }
  .container {
    content: "";
    display: table;
    clear: both;
  }
  .addToCartBtn {
    /* display: flex;
    align-items: flex-end; */
    /* sry i had to hard code this cos idk how to use the display and flex */
    margin-top: 30%;
    margin-left: 45%;
  }
}

.imgStyle {
  width: 300px;
}

.itemName {
  font-family: "Times New Roman", Times, serif;
}

.itemPrice {
  font-family: "Times New Roman", Times, serif;
  font-size: 30px;
}

/* .addToCartBtn {
  position: absolute;
  bottom: 0;
  right: 0;
} */
