#cards.Pizza {
    max-width: 50%;
    height: auto;
    display: table-row;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    border: 1px solid black;
  }
  
  
  #cards.pizzaList {
    height: auto;
    place-items: center;
    margin-bottom: 5%;
    margin-top: 5%;
    display: flex;
  }
  
  /* MENU ITEM STYLING */
  
  #cards.pizzaItem {
    border-radius: 15px;
    min-width: 0;
    white-space: normal;
    width: 325px;
    height: 400px;
    margin: 20px;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
    background-color: whitesmoke;
  }
  #cards.pizzaItem:hover {
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.3);
    transition: 0.3s ease-in;
    cursor: pointer;
  }
  
  #cards.pizzaItem div {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 100%;
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  #cards.pizzaItem h1 {
    margin-left: 20px;
    font-size: 20px;
    line-height: 25px;
    margin-top: 30px;
    margin-right: 10px;
    color: #252525;
  }
  
  #cards.pizzaItem p {
    margin-left: 20px;
    font-size: 13px;
    margin-right: 10px;
    color: #252525;
    line-height: 20px;
  }
  /* .menuItem h3 {
    margin-left: 20px;
    font-size: 17px;
    margin-right: 10px;
    margin-bottom: 3px;
  } */
  
  @media only screen and (max-width: 1300px) {
    .popActivitiesList {
      grid-template-columns: 1fr 1fr;
    }
  }
  
  @media only screen and (max-width: 800px) {
    .popActivitiesList {
      grid-template-columns: 1fr;
    }
  }